* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #f4f4fa; */
  height: 100%;
}
html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 50px;
}
input {
  width: 100% !important;
}
.cart-container::-webkit-scrollbar {
  display: none;
}

.order_table::-webkit-scrollbar {
  height: 10px;
}
.order_table::-webkit-scrollbar-thumb {
  background-color: #f4f4fa;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* brand slider custom styling  */

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 13px !important;
  color: #000 !important;
  width: 43px !important;
  display: flex !important;
  margin: auto !important;
  border-radius: 100% !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  height: 27px !important;
  display: flex !important;
  background: white !important;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
  -webkit-border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  -ms-border-radius: 100% !important;
  -o-border-radius: 100% !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
  font-family: swiper-icons;
  font-size: 13px !important;
  color: white !important;
  width: 43px !important;
  display: flex !important;
  margin: auto !important;
  border-radius: 100% !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  height: 27px !important;
  display: flex !important;
  background: #f59e0b !important;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
  -webkit-border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  -ms-border-radius: 100% !important;
  -o-border-radius: 100% !important;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  display: none;
}

/* #hero {
  height: 400px;
  overflow: hidden;
} */
.headerBanner {
  height: 471px;
}
@media only screen and (max-width: 1100px) {
  .headerBanner {
    height: 12rem;
  }
}

.categoryTitle {
  font-size: 15px;
}
.featureDesc {
  font-size: 8px;
}
.featureTitle {
  font-size: 18px;
}
@media only screen and (max-width: 500px) {
  .categoryTitle {
    font-size: 10px;
  }
  .featureDesc {
    font-size: 10px;
  }
  .featureTitle {
    font-size: 13px;
  }
}

.tawk-min-container {
  margin-top: -10px;
}
